.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  margin-top: 15vh;
  /* height: 100vh; */
  max-width: 1280px;
}
/* @media screen and (max-width: 425px) {
  .main {
    margin-top: 10vh;
  }
} */
@media screen and (max-width: 330px) {
  .main {
    margin-top: 10vh;
    width: 100%;
  }
}
