.info-card-container {
  display: flex;
  flex-direction: row;
  /* padding: 1rem; */
  border: var(--border);
  border-radius: var(--borderRadius);
  margin: 2rem 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.drink-details-img {
  width: 100%;
  height: 300px;
}
.drink-info-para {
  text-align: justify;
  padding-inline: 0.4rem;
  max-width: 500px;
}
.back {
  margin-block: 0.4rem;
  width: 50%;
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  margin-left: 1rem;
  padding: 0.4rem;
}

.ingredient-item {
  display: flex;
  align-items: baseline;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.info-list {
  cursor: pointer;
  margin: 0.5rem;
  width: 100px;
}
.ingredient-image {
  filter: drop-shadow(0px 0px 4px var(--textColor));
  margin-bottom: 0.2rem;
}
.measure {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  border-bottom: 2px solid var(--iconColor);
  color: var(--textColor);
  width: 100%;
}
.measure span {
  margin-top: 1.5rem;
  color: inherit;
}

.drink-details {
  display: flex;
  justify-content: center;
  /* padding: 1rem; */
  flex-direction: column-reverse;
}

.drink-info {
  max-width: 600px;
  width: 100%;
}
.info-figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  cursor: pointer;
}
.figcaption {
  margin-top: 1rem;
  color: var(--textColor);
}

.info-details-section {
  margin-top: 1rem;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--iconColor);
}

.info-table th,
.info-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--iconColor);
}

.info-table th {
  border: 2px solid var(--iconColor);
  color: var(--textColor);
  width: 30%;
}
/* NOTE css to be checked later */
.info-table td {
  background-color: var(--bgColor);
  color: var(--textColor);
  text-wrap: pretty;
  word-wrap: break-word;
  word-break: normal;
  width: 100%;
}
.ingredient-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* .drink-container {
  width: 200px;
} */
@media (max-width: 768px) {
  .drink-info {
    width: 100%;
  }

  .info-table:is(th, td) {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .info-card-container {
    padding: 0rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .drink-details-img {
    max-height: 280px;
  }
  .drink-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
  }
  .drink-info-para {
    max-width: 300px;
  }
}
