.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--iconColor);
  color: var(--textColor);
  padding: 0.5rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header stays on top */
}

.logo {
  height: 50px;
  max-width: 200px;
}

.header .links {
  display: flex;
  gap: 2rem;
}

.header .links a {
  color: var(--textColor);
  text-decoration: none;
  position: relative;
  font-size: 1rem;
}

.header .links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--bgColor);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: 0.2s all ease-in;
}

.header .links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 40px;
  display: block;
  height: 3px;
  background-color: var(--textColor);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .links {
    visibility: hidden; /* Hidden by default but still takes space */
    opacity: 0;
    transform: translateX(-100px); /* Start position before animation */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    left: 0;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: var(--bgColor);
    padding: 1rem 0;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }

  .links.open {
    visibility: visible; /* Make the element visible */
    opacity: 1;
    transform: translateY(0);
    display: flex;
    justify-content: space-evenly; /* Move to final position */
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
