.drink-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: var(--borderRadius);
  padding: 0.4rem;
  margin: 1rem;
  box-shadow: var(--boxShadow);
}
.random-img {
  width: 200px;
  height: auto;
}
.random-drink_card {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.random-drink_card {
  margin-block: 1rem;
}
.landing-btn-section {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
  width: 100%;
}
.btn-submit {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem;
  /* margin-block: 1rem; */
  font-size: 1rem;
  /* width: 100%; */
}
.random-btn {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem;
  /* margin-bottom: 1rem; */
}
