.form {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
  /* position: fixed; */
  /* top: 12vh; */
  min-width: 100%;
  /* margin-bottom: 1rem; */
  flex-wrap: wrap;
  /* background-color: red; */
}

.search-btn {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem;
  margin-left: 1rem;
}

.search-input {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--iconColor);
  cursor: pointer;
  transition: border-color 0.25s;
}
.search-input:hover {
  background-color: var(--hoverColor);
  border: 2px solid var(--borderColor);
  box-shadow: var(--boxShadow);
}

.search-result-back {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem;
  /* margin: auto; */
}
.search-para {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
@media screen and (max-width: 345px) {
  .form {
    /* background-color: red; */
    width: max-content;
  }
  .search-result-back {
    order: 2;
    width: 92%;
    margin-block: 0.5rem;
  }
  .search-input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
