.form {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
  width: 100%;
  flex-wrap: wrap;
  color: var(--textColor);
}

.search-btn {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem;
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
}

.search-input {
  background-color: none;
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--iconColor);

  /* background-color: var(--iconColor); */
  cursor: pointer;
  transition: border-color 0.25s;
  /* width: 50%; */
}
.search-input:hover {
  background-color: var(--hoverColor);
  border: 2px solid var(--borderColor);
  box-shadow: var(--boxShadow);
}

.search-result-back {
  border-radius: var(--borderRadius);
  border: 2px solid var(--borderColor);
  padding: 0.4rem 0.8rem;
  /* margin: auto; */
  /* width: 10vw; */
}
.search-para {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
@media screen and (max-width: 450px) {
  .form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border: 2px solid red; */
  }
  .search-input {
    width: 100%;
  }
  .search-input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin-inline: 1rem; */
    order: 2;
  }
  .search-result-back {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-inline: 1rem; */
  }
}
@media screen and (max-width: 294px) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .search-btn {
    border-radius: var(--borderRadius);
    border: 2px solid var(--borderColor);
    /* padding: 0rem; */
    margin-left: 0rem;
  }
  .search-input {
    width: 50%;
  }
}
